DATABASE_URL="mysql://root:password@localhost:3306/database"

NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_NASA_API_ENDPOINT=https://api.nasa.gov/planetary
NEXT_PUBLIC_NASA_API_KEY=X32Ele6JmRLfvDWLqQwgsWIf6ylcfXzE5TU4atnE
